.choice {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 1rem;
  font-size: 1.3rem;
  border-radius: 0.3rem;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 25px 25px 50px #a1a1a1, -25px -25px 50px #ffffff;
  cursor: pointer;
  position: relative;

  &:active {
    animation: click-choice 1000ms;
  }
  i {
    position: absolute;
    right: 0rem;
    bottom: 0rem;
  }
}

@keyframes click-choice {
  to {
    box-shadow: 25px 25px 50px #a1a1a1, -25px -25px 50px #ffffff;
  }
  from {
    box-shadow: 10px 10px 10px #a1a1a1, -10px -10px 10px #ffffff;
  }
}

.me {
  animation: expand 0.5s ease-in-out;
}
@keyframes expand {
  from {
    opacity: 0;
    transform: scale(0) translateY(-10%);
  }
}

.svg-shadow {
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
}
